body {
    margin: 0;
    padding: 0;
    h1 {
        text-align: center;
        text-decoration: underline;
        font-size: 4rem;
    }
    .container {
        border-radius: 25px;
        white-space: wrap;
        font-size: 71;
        background: rgb(102, 102, 102);
        background: radial-gradient(circle, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(0, 0, 0, 1) 100%);
        .numbers {
            color: white;
            table {
                margin-left: auto;
                margin-right: auto;
                tr {
                    td {
                        h1 {
                            font-size: 6rem;
                            margin-top: 2rem;
                            text-decoration: none;
                        }
                        #operation {
                            margin-left: 6rem;
                            margin-right: 6rem;
                        }
                    }
                }
            }
        }
        .truefalse {
            margin-top: 1rem;
            table {
                margin-left: auto;
                margin-right: auto;
                tr {
                    td {
                        h1 {
                            font-weight: bold;
                            color: white;
                            font-size: 4rem;
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                        .true {
                            background-color: #4CAF50;
                            border: 1px solid #4CAF50;
                            color: white;
                            padding: 32px 68px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 25px;
                            margin: 4px 2px;
                            border-radius: 20px;
                            transition-duration: 0.4s;
                            cursor: pointer;
                            margin-right: 2rem;
                            &:hover {
                                color: #4CAF50;
                                background-color: white;
                            }
                        }
                        .false {
                            background-color: red;
                            border: 1px solid red;
                            color: white;
                            padding: 32px 68px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 25px;
                            margin: 4px 2px;
                            border-radius: 20px;
                            transition-duration: 0.4s;
                            cursor: pointer;
                            margin-left: 2rem;
                            &:hover {
                                color: red;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}